
.product-listing {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	transition: 0.5s;
}

.product img {
	max-width: 100%;
}

.product:hover{
	transform:scale(1.1);
	z-index:2;
	
}
